*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: 600;
    scroll-behavior: smooth;
}

.container{
    width: 1280px;
    margin: auto;
}

.header {
    position: absolute;
    width: 1200px;
    height: 60px;
    left: calc(50% - 1200px/2);
    top: 60px;
}

.logo {
    position: absolute;
    width: 184px;
    height: 60px;
    left: 0px;
    top: 0px;
}

.logo, h1, p {
    position: absolute;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
}

.logo h1 {
    
    width: 184px;
    height: 35px;
    left: 0px;
    top: calc(50% - 35px/2 - 12.5px);
    font-family: 'Georgia';
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.logo p {
    width: 180px;
    height: 15px;
    left: 4px;
    top: calc(50% - 15px/2 + 22.5px);
    font-family: 'Arial';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.nav-bar {
    position: absolute;
    width: 443px;
    height: 27px;
    left: 757px;
    top: 16px;
}

.nav-bar ul{
    display: flex;
    justify-content: space-around;
    color: #F1CDB3;
}

.li{
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    color: #CDCDCD;
}
.li::after{
    content: '';
    position: absolute;
    width: 100%;
    height:  0.175rem;
    background-color: #F1CDB3;
    left: 0;
    bottom: -5px;
    border-radius: 5px;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: 0.3s ease;
}


.li:hover{
    color: #FFFFFF;
}

.active::after{
    transform: scale(1, 1);
}

.active{
    border-bottom:solid #F1CDB3;
    color: #FFFFFF;
}

li:hover::after{
    transform: scale(1, 1);
}

.li {
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
}
  
.li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F1CDB3;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.start-screen-section {
    position: absolute;
    height: 908px;
    left: 0%;
    right: 0%;
    top: 0px;
    background-position: center center;
}


/*  */

.main-section {
    position: absolute;
    width: 1200px;
    height: 728px;
    left: calc(50% - 1200px/2);
    top: 180px;
}

.main-photo{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 698px;
    height: 728px;
    left: calc(50% - 698px/2 + 251px);
    bottom: 0px;
}

.main-info {
    position: absolute;
    width: 460px;
    height: 322px;
    left: 0px;
    top: 163px;
}

.main-info, h2, p {
    position: absolute;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-style: normal;
}

.main-info h2 {
    width: 310px;
    height: 114px;
    left: calc(50% - 310px/2 - 75px);
    bottom: 208px;
    font-family: 'Georgia';
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
}

.main-info p {
    width: 460px;
    height: 72px;
    left: calc(50% - 460px/2);
    bottom: 94px;
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.main-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;

    position: absolute;
    width: 207px;
    height: 52px;
    left: calc(50% - 207px/2 - 126.5px);
    bottom: 0px;

    /* color-primary */

    background: #F1CDB3;
    border-radius: 100px;
}

.main-btn a {
    position: static;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    flex: none;
    order: 0;
    flex-grow: 0;
}


/*  */


#about-section {
    position: absolute;
    height: 588px;
    left: 0%;
    right: 0%;
    top: 908px;
    background: #FFFFFF;
}

.about-content{
    position: absolute;
    width: 1200px;
    height: 408px;
    left: calc(50% - 1200px/2);
    top: calc(50% - 408px/2 - 10px);
    display: flex;
    justify-content: space-around;
}

.dog-pet-photo{
    position: absolute;
    width: 300px;
    height: 408px;
    left: 175px;
    top: 0px;
}

.about {
    position: absolute;
    width: 430px;
    height: 380px;
    left: 658px;
    top: 14px;
}

.about h3 {
    position: absolute;
    width: 370px;
    height: 90px;
    left: 0px;
    top: 0px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.about, .p-1, .p-2 {
    position: absolute;
    width: 430px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.about .p-1 {
    height: 96px;
    left: 0px;
    top: 115px;
    line-height: 160%;
    color: #4C4C4C;
}

.about .p-2 {
    height: 144px;
    left: 0px;
    top: 236px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #4C4C4C;
}