* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 600;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

.container{
    width: 1280px;
    margin: auto;
}

.block {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: auto;
}


/* Header */


.header {
    display: flex;
    height: 120px;
    background: #FFFFFF;
}

.header-content {
    justify-content: space-between;
}

.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 184px;
    height: 60px;
    left: 0px;
    top: 0px;
}

.logo-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.logo h1 {
    font-weight: 400;
    width: 185px;
    height: 35px;
    left: 0px;
    top: calc(50% - 35px/2 - 12.5px);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.logo p {
    width: 179px;
    height: 15px;
    left: 4px;
    top: calc(50% - 15px/2 + 22.5px);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    color: #292929;
}

.nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    top: 16px;
    height: 60%;
}

.nav-bar ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: #F1CDB3;
}

.nav-bar ul a {
    margin: 10px;;
}

.li{
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    color: #545454;
    display: inline-block;
}

.li::after{
    content: '';
    position: absolute;
    width: 100%;
    height:  0.175rem;
    background-color: #F1CDB3;
    left: 0;
    bottom: -5px;
    border-radius: 5px;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: 0.3s ease;
}

.li:hover{
    color: #292929;
}

.li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.active::after{
    transform: scale(1, 1);
}

.active{
    border-bottom:solid #F1CDB3;
    color: #292929;
}


/* Main */
